.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 500px;

  .full{
    width: 100%;
  }

  .bold{
    font-weight: bold;
    color: #DDFF00;
  }
}

.img{
  width: 400px;
  height: 550px;
  margin: 0 40px;

  &--left{
    grid-column: 1;
    margin-top: -100px;
  }

  &--right{
    grid-column: -1;
    margin-top: 150px;
  }
}
