.flex{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  .full{
    width: 100%;
  }
}

.img{
  width: 300px;
  height: auto;
  margin: 0 40px;
  opacity: 0;

  &--left{
    float: left;
  }

  &--right{
    float: right;
  }
}
