@import 'utils/variables';
@import 'components/type';
@import 'components/box';
@import 'components/img';

body{
  background: #000;
  margin: 0;
  padding: 0;
}

.title{
  color: #FFDDDD;
  margin-bottom: 200px;
}

